* {
    box-sizing: border-box;
}

.header {
    border: 1px solid ;
    width: 340px;
    text-align: center;
    height: 40px;
    padding:5px;
    font-size:25px;
    background-color: black;
    color:white;
}

.menu-item {
    height: 50px;
    margin:15px 1px 15px 100px;
    width:135px;
}

.back {
    float:left;
    height: 30px;
}

.page1 {
    transform: translateX(0%);
    transition: transform .55s;
}

.page1 .view.hide{
    transform: translateX(0%);
    transition: transform .55s;
}

.page2 .view.hide {
    
}

.page2 {
    transform: translateX(15%);
    transition: transform .55s;
}